@import "tailwindcss";

:root {
  /* Mary’s - Light */
  --bg: 250 247 243; /* crema cálido */
  --surface: 255 255 255; /* blanco */
  --text: 40 32 28; /* espresso */
  --muted: 120 105 95; /* taupe */
  --primary: 35 40 43; /* gris oscuro** */
  --primary2: 198 160 88; /* dorado latte */
  --border: 230 222 214; /* borde cálido */

  --font-display: "Fraunces", ui-serif, Georgia, "Times New Roman", serif;
  --font-body: "Inter", ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Arial;
}

.dark {
  /* Mary’s - Dark */
  --bg: 17 14 13; /* casi negro cálido */
  --surface: 35 40 43; /* gris oscuro** */
  --text: 245 241 236; /* crema */
  --muted: 190 178 168; /* beige gris */
  --primary: 78 84 82; /* gris medio** */
  --primary2: 160 120 80; /* caramelo */
  --border: 70 56 48; /* borde tostado */
}

html,
body {
  height: 100%;
}
body {
  background: rgb(var(--bg));
  color: rgb(var(--text));
  font-family: var(--font-body);
}
h1,
h2,
h3 {
  font-family: var(--font-display);
}

@theme {
  --color-bg: rgb(var(--bg));
  --color-surface: rgb(var(--surface));
  --color-text: rgb(var(--text));
  --color-muted: rgb(var(--muted));
  --color-primary: rgb(var(--primary));
  --color-primary2: rgb(var(--primary2));
  --color-border: rgb(var(--border));

  --radius-xl2: 1.5rem;

  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.08);
}
